body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.container {
  min-height: 100vh;
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(54, 154, 247);
  color: gray;
}
.section {
  height: 98%;
  width: 31.33%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(204, 218, 219);
  padding: 5px;
}
h3 {
  margin: 5px;
}
.cart {
  padding: 10px 5px;
  border: 1px solid rgb(243, 238, 238);
  background-color: rgb(243, 238, 238);
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}
.cart:hover {
  position: relative;
}
.add-cart {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}
.remove {
  position: absolute;
  top: 0;
  right: 10px;
  height: 7px;
  width: 7px;
}
.remove:hover {
  cursor: pointer;
}
.input {
  padding: 10px 5px;
  border: 1px solid rgb(243, 238, 238);
  background-color: rgb(243, 238, 238);
  border-radius: 5px;
  margin-bottom: 5px;
  width: 96%;
}
.confirm {
  width: 35%;
  height: 35px;
  background-color: green;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  margin-right: 5px;
}
.hidden {
  display: none;
}
.icon-cancel {
  font-weight: 900;
  cursor: pointer;
}
.dragged {
  position: absolute;
  z-index: 999;
  pointer-events: none;
}
